@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
    .md\:background-image {
        background-position: 50%;
        background-size: auto 100%;
    }
}

@media (min-width: 384px) {
    .xs\:h-12 {
        height: 48px;
    }
}